<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://img.freepik.com/photos-premium/interieur-salle-cinema-vide-sieges-jaunes_34755-1013.jpg');">
  <div class="container">
    <h1><strong>Save any kind of movie</strong></h1>
  </div>
</div>

<div class="cards-container">
  <div class = "cards-list-banner">
    <div>My lists</div>
    <div class="btn btn-success btn-sm"><%= link_to "Create a new list", new_list_path%></div>
  </div>
  <div class = "cards-list">
    <div>
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
