// Import page-specific CSS files here.
.lists-cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

@media(max-width: 992px) {
  .lists-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .lists-cards {
    grid-template-columns: 1fr;
  }
}
