// Import page-specific CSS files here.
.bookmarks-cardbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 12px;
  justify-content: center;
}

.orange-count {
  background-color: orange;
  width: 100px;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  right: 16px;
  top: 20px;
}
