.over-banner {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  background-color: white;
  position: sticky;
  top: 0;

  .text-black {
    padding-top: 0px;
    margin: 4px;
    color: black;
  }

  .link-black {
    margin: 4px;
    color: black;
    text-decoration: none;
  }
}
